.swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper-container {
  margin: 25px 0px 25px 0px;
  width: 80%;
  height: 500px;
  float: left;
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.6s ease, transform 0.3s ease;
  transition: opacity 0.6s ease, transform 0.3s ease,
    -webkit-transform 0.3s ease;
}
.swiper-container.nav-slider {
  width: 20%;
  padding-left: 5px;
}
.swiper-container.nav-slider .swiper-slide {
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.swiper-container.nav-slider .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.swiper-container.nav-slider .swiper-slide .content {
  width: 100%;
}
.swiper-container.nav-slider .swiper-slide .content .title {
  font-size: 20px;
}
.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}

.swiper-slide {
  overflow: hidden;
}
.swiper-slide .slide-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.swiper-slide .entity-img {
  width: 100%;
  height: 100%;
}
.swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  color: #fff;
}
.swiper-slide .content .title {
  background-color: #333333;
  padding: 10px;
  font-size: 2.6em;
  font-weight: bold;
}
.swiper-slide .content .title .icon {
  width: 50px;
  height: 50px;
}
.swiper-slide .content .caption {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.3s ease, transform 0.7s ease;
  transition: opacity 0.3s ease, transform 0.7s ease,
    -webkit-transform 0.7s ease;
}
.swiper-slide .content .caption.show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

@media screen and (max-width: 640px) {
  .swiper-container {
    margin: 0;
    width: 100%;
    height: 300px;
  }
  .swiper-container.nav-slider {
    display: none;
  }
}
