/* General */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  background-color: #2dad9e;
  margin-top: 46px;
}

section {
  padding-top: 46px;
  margin-top: -46px;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #242423;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #242423;
  font-size: 72px;
}

h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #242423;
  font-size: 36px;
}

h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #242423;
  font-size: 24px;
}

h4 {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #242423;
  font-size: 18px;
}

/* Navbar */

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.navbar li {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
}

.navbar li a {
  text-decoration: none;
  color: #f2f2f2;
}

.navbar li:hover {
  background: #ddd;
  color: black;
}

/* Layout */

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.first-box {
  width: 30%;
  height: auto;
}

.second-box {
  width: 70%;
  height: auto;
  background-color: white;
}

/* About */

.about {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.about-box {
  padding: 25px;
  width: 40%;
  box-sizing: border-box;
}

.about-info {
  border: 2.5px black dotted;
  padding: 20px;
}

.about-info li {
  margin: 10px;
  padding: 0;
}

.about-social {
  text-align: center;
}

.computer-box {
  width: 60%;
  height: 300px;
  padding: 25px;
  box-sizing: border-box;
}

.computer-box img {
  min-width: 300px;
}

/* Skills */

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.container .card {
  position: relative;
  border-radius: 10px;
}

.container .card .icon {
  text-align: center;
  position: relative;
  background: #449bc3;
  width: 100px;
  height: 100px;
  transition: 0.7s;
  z-index: 1;
}

.container .card .icon img {
  position: relative;
  width: 90px;
  height: 90px;
  padding-top: 5px;
  transition: 0.7s;
  color: #fff;
}

.container .card .face {
  margin: 25px;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  transition: 0.5s;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}

.container a {
  text-decoration: none;
}

/* Button styling */

.btn {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-main {
  background-color: #2dad9e;
  color: white;
}

/* SVG Specific classes */

.dev {
  min-width: 120px;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}

/* Helper classes */

.pb-10 {
  padding-bottom: 10px;
}

.pl-25 {
  padding-left: 25px;
}

.pr-25 {
  padding-right: 25px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 30px;
  }

  /* About */
  .about-box {
    width: 100%;
  }

  .computer-box {
    width: 100%;
  }

  /* Skills */

  .container .card .face {
    margin: 20px;
    width: 75px;
    height: 75px;
    box-shadow: 0 10px 7.5px rgba(0, 0, 0, 0.8);
  }
  .container .card .icon,
  .container .card .icon img {
    width: 75px;
    height: 75px;
  }
  .container .card .icon b {
    font-size: 57px;
  }
}

@media screen and (max-width: 640px) {
  /* General */
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  /* Layout */
  .main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
  }

  .info,
  .skills,
  .project {
    height: 33.33%;
  }

  .first-box {
    width: 25%;
    height: auto;
  }

  .second-box {
    width: 75%;
    height: auto;
    background-color: white;
  }

  /* About */
  .computer-box {
    display: none;
  }

  /* Skills */
  .container .card .icon img {
    padding-top: 0px;
  }
}
